
/* * {
  outline: red 1px dashed;
} */
body {
  width: 900px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  color: black;
}
header {
  text-align: center;
  margin: 10px;
}
article {
  margin: 10px;
}
ol {
  list-style: inside decimal;
}
ul {
  list-style: inside;
}
article {
  line-height: 1.35;
}

nav {
  width: 100%;
  margin: 5px;
  text-align: left;
}

nav li {
  list-style: none;
  display: inline-block;
  margin: 5px 20px 5px 5px;
}

#game_section {
  overflow: auto;
  width: 100%;
  list-style: decimal inside;
}
#game_section>li {
  padding: 0 0 5px 0;
}
#game_section>li:first-child {
  list-style: none;
  padding: 0 0 10px 1.1em;
  font-weight: bold;
}
/* ULs inside the game_section list, used as containers for question item contents */
#game_section>li>ul {
  display: inline-block;
  list-style: block inside;
  vertical-align: top;
}
/* list items inside that, so questions, answers, and responses */
#game_section>li>ul>li {
  display: inherit;
  list-style: none;
  width: 225px;
  vertical-align: top;
}
/* The first list item in unordered lists inside the game_section list 
Which, in this case, is used for the question being asked.*/
#game_section>li>ul>li:first-child {
  width: 315px;
}
/* ULs inside ULs inside the game section list, AKA lists of answers */
#game_section>li>ul>li>ul {
  list-style: disc inside;
  width: 100%;
  padding-left: 0;
}
/* list items of answer lists */
/* geeze, these got deep and specific... */
#game_section>li>ul>li>ul>li {
  display: list-item;
}

.title {
  font-size: 36px;
  font-weight: bold;
}
.subtitle {
  font-size: 24px;
  font-weight: italic;
  margin: 5px 0 5px 0;
}
.section_title {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0 5px 0;
}
.hr {
  height: 1px;
  background: black;
  margin: 10px;
}

